@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


body{
  background-color: #191919;
  overflow-x: hidden;
}



/* header starts   */




.navigation {
  height:85px;
  background: #262626;
}

/* // Logo and branding */
.logo{
      width: 80px;
      height:80px;
      padding: 10px 0px;
}


.brand  {
  position: absolute;
  padding-left: 40px;
  float: left;

  line-height:70px;
  text-transform: uppercase;
  font-size: 1.4em;
  a,
  a:visited {
    color: #ffffff;
    text-decoration: none;
  }
}

/* // Container with no padding for navbar */
.nav-container {
  /* max-width: 1000px; */
  /* margin: 0 100px; */
  margin: 0 10px;

}

/* // Navigation  */


nav {
  float: right;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      position: relative;
      a,
      a:visited {
        display: block;
     font-family: roboto serif;
     font-size: 18px;
     font-weight: 500;
        padding: 0 20px;
        line-height:  70px;
        background: #262626;
        color:#ffffff;
        text-decoration: none;
        &:hover {
          background:#2581DC;
          color: #ffffff;
        }
        &:not(:only-child):after {
          padding-left: 4px;
          content: ' ▾';
        }
      }
      
      /* // Dropdown list */
      ul li {
        min-width: 190px;
        a {
          padding: 15px;
          line-height: 20px;
          font-family: roboto serif;
          font-size: 18px;
          font-weight: 500;
        }
      }
    }
  }
}

/* // Dropdown list binds to JS toggle event */
.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */

/* // Binds to JS Toggle */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background:#262626;
  height: 70px;
  width: 70px;
}
@media only screen and (max-width: 798px) {
  /* // Hamburger nav visible on mobile only */

  .nav-container {
    max-width: 100%;
    margin: 0px  0px;
}
  .nav-mobile {
    display: block;
  }
  nav {
   width: 100%;
    padding: 70px 0 15px;
    ul {
      display: none;
      li {
        float: none;
        a {
          padding: 15px;
          line-height: 20px;
        }
        ul li a {
          padding-left: 30px;
        }
      }
    }
  }
  .nav-dropdown {
    position: static;
  }





}
@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}


#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  span,
  span:before,
  span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background:#ffffff;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }
  span:before {
    top: -10px;
  }
  span:after {
    bottom: -10px;
  }
  &.active span {
    background-color: transparent;
    &:before,
    &:after {
      top: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}



@media only screen and (max-width:950px){

.brand {
  padding-left: 0px;
  float: left;

}



}


/* ---- header ends ----  */

/* ---- slider start ----  */


.slider_1{
  padding-top: 0px;
}

.slider_txt{
  color: #000000;
  font-family: roboto serif;
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 1px;
  padding-top: 20px;
  padding-bottom: 40px;
  text-transform: uppercase;
  position: absolute;
  top: 320px;
  left: 155px;
}


.slider_ext{
  color: #ff0000;
  font-family: roboto serif;
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 1px;
  padding-top: 20px;
  padding-bottom: 40px;
}



/* ---- slider end ----  */


/* ---- about start ----  */


.about{
  background-color: #f6f6f6;
  padding: 55px;
}




.about h2 {
  color: #000000;
  font-family: roboto serif;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 1px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
}

.about h2:before {
  content: "";
  position: absolute;
  width: 870px;
  height: 50px;
  border-radius: 0px;
  border-bottom: 3px solid #F5BE00;
}

.about_1 h3{

  font-size: 22px;
  font-weight: 600;
  padding-top: 15px;
  padding-bottom: 15px;

}


.about_1 p{
  font-size: 17px;
  font-weight: 500;
  font-family: sans-serif;
  padding-top: 7px;
  text-align: left;
  color: #191919;


}

.btn_1{
  margin-top: 30px;
  padding: 7px;
  background-color: #48a4ff;
  color: #fff;
  font-weight: bold;
  border: 1px solid #48a4ff;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  transition: all 0.5s;
}


.btn_1:hover{
  background-color: #f96114;
  color: #242526;
  border: none;
  transform: scaleZ(50);

}


.about_2 img{
  width: 100%;
  height: 500px;
  -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}


.about_2 img:hover{
  width: 650px;
}


/* ---- about end ----  */



/* ---- service start ----  */



.service{
  background-color: #dbdbdb;
  padding: 55px;
}

.service h2 {
  color: #000000;
  font-family: roboto serif;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 1px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
}

.service h2:before {
  content: "";
  position: absolute;
  width: 220px;
  height: 50px;
  border-radius: 0px;
  border-bottom: 3px solid #F5BE00;
}



.service_box_1{
  width: auto ;
  height: 680px;
  background-color: #fff;
  border: 0.5px dashed #e6e5e5;
  box-shadow: 0px 9px 19px 0px #ccc;

}


.service_box_1 h6{
  color: #000;
  font-family: roboto serif;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 1px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.service_box_1 p{
  color: #000000;
  font-family: roboto serif;
  font-weight: 400;
  font-size: 18px;
  text-align: left;
  padding: 5px;
  padding-top: 5px;
}

.service_box_1 img{
  width: 100%;
  height: 250px;
	-webkit-transition: .6s ease-in-out;
	transition: .5s ease-in-out;

}

.service_box_2{
  width: auto;
  height: 680px;

  background-color: #fff;
  border: 0.5px dashed #e6e5e5;
  box-shadow: 0px 9px 19px 0px #ccc;

}


.service_box_2 h6{
  color: #000;

  font-family: roboto serif;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 1px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.service_box_2 p{
  color: #000000;
  font-family: roboto serif;
  font-weight: 400;
  font-size: 18px;
  text-align: left;
  padding: 5px;
  padding-top: 5px;
}

.service_box_2 img{
  width: 100%;
  height: 250px;
	-webkit-transition: .6s ease-in-out;
	transition: .5s ease-in-out;

}


.service_box_3{
  width: auto ;
  height: 680px;

  background-color: #fff;
  border: 0.5px dashed #e6e5e5;
  box-shadow: 0px 9px 19px 0px #ccc;

}


.service_box_3 h6{
  color: #000;

  font-family: roboto serif;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 1px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.service_box_3 p{
  color: #000000;
  font-family: roboto serif;
  font-weight: 400;
  font-size: 18px;
  text-align: left;
  padding: 5px;
  padding-top: 5px;
}

.service_box_3 img{
  width: 100%;
  height: 250px;
	-webkit-transition: .6s ease-in-out;
	transition: .5s ease-in-out;

}



.service_box_4{
  width: auto ;
  height: 680px;
  background-color: #fff;
  border: 0.5px dashed #e6e5e5;
  box-shadow: 0px 9px 19px 0px #ccc;

}


.service_box_4 h6{
  color: #ff3737;
  font-family: roboto serif;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 1px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.service_box_4 p{
  color: #000000;
  font-family: roboto serif;
  font-weight: 400;
  font-size: 18px;
  text-align: left;
  padding: 5px;
  padding-top: 5px;
}

.service_box_4 img{
  width: 100%;
  height: 250px;
	-webkit-transition: .6s ease-in-out;
	transition: .5s ease-in-out;

}



/* ---- service end ----  */

/* ---- build start ----  */


.build{
  background: #f6f6f6;
  padding: 35px 0px;

}

.build h2 {
  color: #000000;
  font-family: roboto serif;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 1px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
}

.build h2:before {
  content: "";
  position: absolute;
  width: 260px;
  height: 50px;
  border-radius: 0px;
  border-bottom: 3px solid #F5BE00;
}


.build_1 {
  width: auto;
  height: 500px;
  border: 1px dotted #ccc;
  padding: 15px;
  box-shadow: 0px 5px 5px 0px #242526;
}


.build_1:hover{
  -webkit-transition: .6s ease-in-out;
	transition: .5s ease-in-out;
  padding: 35px;
  cursor: pointer;

}

.build_1 h3{
  padding-top: 15px;
  font-family: roboto;

  font-weight: bold;
}


.build_1 p{
  font-size: 18px;
  font-family:sans-serif;

  font-weight: 500;
}



.build_img{
  width: 200px;
  height: 200px;
}



.build_2 {
  width: auto;
  height: 500px;
  border: 1px dotted #ccc;
  padding: 15px;
  box-shadow: 0px 5px 5px 0px #242526;
}


.build_2:hover{
  -webkit-transition: .6s ease-in-out;
	transition: .5s ease-in-out;
  padding: 35px;
  cursor: pointer;

}

.build_2 h3{
  padding-top: 15px;
  font-family: roboto;

  font-weight: bold;
}


.build_2 p{
  font-size: 18px;
  font-family:sans-serif;

  font-weight: 500;
}



.build_3 {
  width: auto;
  height: 500px;
  border: 1px dotted #ccc;
  padding: 15px;
  box-shadow: 0px 5px 5px 0px #242526;
}


.build_3:hover{
  -webkit-transition: .6s ease-in-out;
	transition: .5s ease-in-out;
  padding: 35px;
  cursor: pointer;

}

.build_3 h3{
  padding-top: 15px;
  font-family: roboto;

  font-weight: bold;
}


.build_3 p{
  font-size: 18px;
  font-family:sans-serif;
  font-weight: 500;
}





/* ---- build end ----  */

/* ---- our partners start ----  */


.partners{
  padding: 55px 0px;
  background-color: #333333;
}


.partners h2 {
  color: #ffffff;
  font-family: roboto serif;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 1px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
}

.partners h2:before {
  content: "";
  position: absolute;
  width: 230px;
  height: 50px;
  border-radius: 0px;
  border-bottom: 3px solid #F5BE00;
}

.item{
  border: 2px dotted #ffffff5b;
  width: 250px;
  height: 100px;
  padding: 0px;
  margin: 0px;
  /* margin-right: 59px; */
  /* align-items: center; */
}
.p_text{
float: left;
text-decoration: none;
color: #ffffff;
padding-left: 21px;
padding-top: 35px;
font-size: 18px;
letter-spacing: 2px;

}


.owl-theme .owl-nav [class*=owl-] {

  display: none !important;

}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #ff0101 !important;
}

.owl-theme .owl-dots .owl-dot span {
  width: 20px !important;
  height: 20px !important;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  /* -webkit-backface-visibility: visible; */
  transition: opacity .2s ease;
  border-radius: 30px;
}




/* ---- our partner ends ---- */



/* ---- mission start ----  */



.slide-1a{
  padding: 30px 0px;

}

.carousel_text h3{
  font-family: roboto;
  font-size: 41px;
  color: #f96114;
  padding-top: 20px;
  
  
}

.carousel_text h4{
  font-family: roboto;
  font-size: 46px;
  letter-spacing: 1px;
  color: #0c0c0c;

}

.carousel_text p{
  font-family: serif;
  font-size: 23px;
  font-weight: 100;
  padding: 5px 6px;
  color: #0c0c0c;


}

.carousel_txt_1 h5{
  font-family: roboto;
  font-size: 54px;
  letter-spacing: 2px;
  padding-left: 5px;
}

.carousel_txt_1 p{
  font-family: sans-serif;
  font-size: 26px;
  font-weight: 400;
}

.carousel_txt_2 p{
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 100;
}

.check{
  padding: 0px 10px;
}

.mission_images{
  width: 80%;
  height: auto;
  margin-left: 5px;
}

/* ---- mission end ----  */

/* ---- post start ----  */


.post{
  background-color: #f7f7f7;
  padding: 50px 0px;
}


.post h2{
  font-family: roboto;
font-size: 30px;
  text-align: center;
  font-weight: bold;
  padding: 30px 0px;
  letter-spacing: 2px;
}

.post h2 {
  color: #000000;
  font-family: roboto serif;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 1px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
}

.post h2:before {
  content: "";
  position: absolute;
  width: 210px;
  height: 50px;
  border-radius: 0px;
  border-bottom: 3px solid #F5BE00;
}

.post_box_1{
  width: auto;
  height: 500px;
  border: 1px dotted #242526;
  /* padding: 10px; */
}

.post_img{
  width: 100%;
  height: 250px;

}


.post_box_1 h4{
  padding-top: 5px;

  font-family: roboto;
  font-weight: 700;
  font-size: 36px;
  padding-left: 5px;
}

.post_box_1 p{
  padding-top: 5px;
  padding-left: 5px;
  font-family: sans-serif;
font-size: 18px;
  font-weight: 400;

}


.post_box_2{
  width: auto;
  height: 500px;
  border: 1px dotted #242526;
  /* padding: 10px; */
}



.post_box_2 h4{
  padding-top: 5px;

  font-family: roboto;
  font-weight: 700;
  font-size: 36px;
  padding-left: 5px;
}

.post_box_2 p{
  padding-top: 5px;
  padding-left: 5px;
  font-family: sans-serif;
font-size: 18px;
  font-weight: 400;

}

.post_box_3{
  width: auto;
  height: 500px;
  border: 1px dotted #242526;
  /* padding: 10px; */
}


.post_box_3 h4{
  padding-top: 5px;

  font-family: roboto;
  font-weight: 700;
  font-size: 36px;
  padding-left: 5px;
}

.post_box_3 p{
  padding-top: 5px;
  padding-left: 5px;
  font-family: sans-serif;
font-size: 18px;
  font-weight: 400;

}



/*---- post end ----  */



/* ---- footer start ----  */


ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {
background: #151414;
position: relative;
}
.footer-cta {
border-bottom: 1px solid #373636;
}
.single-cta i {
color: #ff5e14;
font-size: 30px;
float: left;
margin-top: 8px;
}
.cta-text {
padding-left: 15px;
display: inline-block;
}
.cta-text h4 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 2px;
}
.cta-text span {
color: #757575;
font-size: 15px;
}
.footer-content {
position: relative;
z-index: 2;
}
.footer-pattern img {
position: absolute;
top: 0;
left: 0;
height: 330px;
background-size: cover;
background-position: 100% 100%;
}
.footer-logo {
margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
margin-bottom: 14px;
font-size: 14px;
    color: #7e7e7e;
line-height: 28px;
}
.footer-social-icon span {
color: #fff;
display: block;
font-size: 20px;
font-weight: 700;
font-family: 'Poppins', sans-serif;
margin-bottom: 20px;
}
.footer-social-icon a {
color: #fff;
font-size: 16px;
margin-right: 15px;
}
.footer-social-icon i {
height: 40px;
width: 40px;
text-align: center;
line-height: 38px;
border-radius: 50%;
}
.facebook-bg{
background: #3B5998;
}
.twitter-bg{
background: #55ACEE;
}
.google-bg{
background: #DD4B39;
}
.instagram-bg{
background: #55ACEE;

}
.footer-widget-heading h3 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 40px;
position: relative;
}
.footer-widget-heading h3::before {
content: "";
position: absolute;
left: 0;
bottom: -15px;
height: 2px;
width: 50px;
background: #ff5e14;
}
.footer-widget ul li {
display: inline-block;
float: left;
width: 50%;
margin-bottom: 12px;
}
.footer-widget ul li a:hover{
color: #ff5e14;
}
.footer-widget ul li a {
color: #878787;
text-transform: capitalize;
}
.subscribe-form {
position: relative;
overflow: hidden;
}
.subscribe-form input {
width: 100%;
padding: 14px 28px;
background: #2E2E2E;
border: 1px solid #2E2E2E;
color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #ff5e14;
  padding: 13px 20px;
  border: 1px solid #ff5e14;
  top: 0;
}
.subscribe-form button i {
color: #fff;
font-size: 22px;
transform: rotate(-6deg);
}
.copyright-area{
background: #202020;
padding: 25px 0;
}
.copyright-text p {
margin: 0;
font-size: 14px;
color: #878787;
}
.copyright-text p a{
color: #ff5e14;
}
.footer-menu li {
display: inline-block;
margin-left: 20px;
}
.footer-menu li:hover a{
color: #ff5e14;
}
.footer-menu li a {
font-size: 14px;
color: #878787;
}


@media only screen and (max-width:768px){
  /* .footer-section{
    width: auto;
  } */
}


/* ---- footer end ----  */


/* ---- footer start ----  */

/* 
.foot{
  background-color: #191919;
  padding: 55px 0px;
}


.f_img{
  width: 250px;
}

.foot_box_2 h3{
  font-family: roboto;
font-weight: 700;
font-size: 30px;
color: #fff;
padding: 5px 0px;
}

.foot_box_2 p{
  font-family: sans-serif;
font-size: 21px;
  font-weight: 400;
  color: #fff;

}

.foot_box_3 h3{
  font-family: roboto;
font-weight: 700;
font-size: 30px;
color: #fff;
padding: 5px 0px;
}

.foot_box_3 h4{
  font-family: sans-serif;
font-size: 27px;
  font-weight: 400;
  color: #fff;

}


.icons_1{
  -webkit-transition: .3s ease-in-out;
	transition: .5s ease-in-out;
  padding-left: 7px;
  padding-bottom: 10px;
}

.icons_1:hover{
width: 40px;
  }

  .icons_2{
    -webkit-transition: .6s ease-in-out;
    transition: .5s ease-in-out;
  }
  
  .icons_2:hover{
  width: 40px;
    }

.icons_2 {
  margin-top: 20px;
  margin-left: 7px;
}

.foot_box_3 p{
  font-family: sans-serif;
font-size: 25px;
  font-weight: 400;
  color: #fff;
  padding-bottom: 5px;
  cursor: pointer;
}
 */

/* ---- footer end ----  */

/* ---- last section start ----  */
/* 

.last{
  background-color: #4F4F4F;
  padding: 5px 0px;
}

.last_box_1 p{
  font-family: sans-serif;
font-size: 16px;
  font-weight: 400;
  color: #fff;
  padding-left: 20px;
  padding-top: 5px;
}


.last_box_1 a{
  font-family: sans-serif;
  font-size: 16px;
    font-weight: 400;
    color: #ff0000;
    text-decoration: none;
    padding-left: 5px;

}


.last_box_1 a:hover{
  color: #48a4ff;
}
 */

/* ---- last section end ----  */






/* ---- responsive code start ----  */

@media only screen and (max-width:1600px){



  .about_2 img{
    width: -webkit-fill-available;
    margin-top: 20px;
  }

  .about h2 {
    color: #000000;
    font-family: roboto serif;
    font-weight: 700;
    letter-spacing: 1px;
    padding-top: 20px;
    padding-bottom: 40px;
  }
  

  .mission_images{
    width: -webkit-fill-available;
  }

  .foot_box_3 p {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    padding-bottom: 5px;
    cursor: pointer;
}

.icons_1 {
  padding-left: 0px;
  padding-bottom: 10px;
}


}






@media only screen and (max-width: 1300px){


  .slider_txt {

    top: 230px;
    left: 70px;
}


  .about h2 {
    font-size: 24px;
    font-weight: 600;
   

}

  .about h2:before {
    content: "";
    position: absolute;
    width: 550px;
    height: 50px;
    
    border-radius: 0px;
    border-bottom: 3px solid #F5BE00;
  }


  .service_box_1 img {
    width: 280px;
    height: 250px;
 
 }

   .service_box_1 {
    width: 280px;
    height: 650px;
    margin:  0px;
  }
  
  .service_box_1 h6 {
    font-size: 26px;
    padding: 5px;
  }
  
  .service_box_1 p {
    font-size: 15px;
    text-align: left;
    padding: 2px 5px;
  }
  
  .service_box_2 img {
    width: 280px;
    height: 250px;
 
 }
  .service_box_2 {
    width: 280px;
    height: 650px;
    margin:  0px;
  }
  
  .service_box_2 h6 {
    font-size: 26px;
    padding: 5px;
  }
  
  .service_box_2 p {
    font-size: 15px;
    text-align: left;
    padding: 2px 5px;
  }

  .service_box_3 img {
    width: 280px;
    height: 250px;
 
 }
  
  .service_box_3 {
    width: 280px;
    height: 650px;
    margin:  0px;
  }
  
  .service_box_3 h6 {
    font-size: 26px;
    padding: 5px;
  }
  
  .service_box_3 p {
    font-size: 15px;
    text-align: left;
    padding: 2px 5px;
  }

  .service_box_4 img {
    width: 280px;
    height: 250px;
 
 }
  
  .service_box_4 {
    width: 280px;
    height: 650px;
    margin: 0px;
  }
  
  .service_box_4 h6 {
    font-size: 26px;
    padding: 5px;
  }
  
  .service_box_4 p {
    font-size: 15px;
    text-align: left;
    padding: 2px 5px;
  }
  
   .item{
    border: 2px dotted #ffffff5b;
    width: 250px;
    height: 100px;
    padding: 0px;
    margin: 0px;
    margin-right: 59px;
  }

}




@media only screen and (max-width: 1199px){


  .slider_txt {

    top: 142px;
    left: 70px;
}


  .about h2 {
    font-size: 24px;
    font-weight: 600;
}


  .about_1 h3 {
    font-size: 19px;
    font-weight: 600;
    padding-top: 1px;
    padding-bottom: 15px;
}


  .about_2 img{
    width: -webkit-fill-available;
    height: auto;
    margin-top: 5px;
  }


   .service_box_1 img {
    width: -webkit-fill-available;
    height: 250px;
 
 }


   .service_box_1 {
    width: -webkit-fill-available;
    height: 550px;
    margin:  0px;
  }
  

  .service_box_1 h6 {
    font-size: 20px;
    padding: 2px 0px;

  }
  
  .service_box_1 p {
    font-size: 12px;
    text-align: left;
    padding: 2px 5px;
  }

  
  .service_box_2 img {
    width: -webkit-fill-available;
    height: 250px;
 
 }


  .service_box_2 {
    width: -webkit-fill-available;
    height: 550px;
    margin:  0px;
  }


  
  .service_box_2 h6 {
    font-size: 20px;
    padding: 2px 0px;

  }


  
  .service_box_2 p {
    font-size: 12px;
    text-align: left;
    padding: 2px 5px;
  }



  .service_box_3 img {
    width: -webkit-fill-available;
    height: 250px;
 
 }


  
  .service_box_3 {
    width: -webkit-fill-available;
    height: 550px;
    margin:  0px;
  }


  
  .service_box_3 h6 {
    font-size: 20px;
    padding: 2px 0px;
  }


  
  .service_box_3 p {
    font-size: 12px;
    text-align: left;
    padding: 2px 5px;
  }



  .service_box_4 img {
    width: -webkit-fill-available;
    height: 250px;
 
 }


  .service_box_4 {
    width: -webkit-fill-available;

    height: 550px;
    margin: 0px;
  }

  
  .service_box_4 h6 {
    font-size: 20px;
    padding: 2px 0px;
  }


  
  .service_box_4 p {
    font-size: 12px;
    text-align: left;
    padding: 2px 5px;
  }
  


   .post_img{
    width: -webkit-fill-available;

   }


   .post_box_1 {
    width: auto;
    margin: 10px auto;
}



.post_box_2 {
  width: auto;
  margin: 10px auto;
}



.post_box_3 {
  width: auto;
  margin: 10px auto;
}



.slide-1a {
  padding: 0px;
}


.build_1 {
  width: auto;
  margin: 10px auto;
}

.build_2 {
  width: auto;
  margin: 10px auto;
}


.build_3 {
  width: auto;
  margin: 10px auto;
}



}


@media only screen and (max-width: 991px){


  .slider_txt {

    top: 90px;
    left: 70px;
}

  .about h2 {
    font-size: 22px;
    font-weight: 600;
}

  .service{
    display: flex;
    flex-direction: row;
  }


  .service_box_1 img {
    width: -webkit-fill-available;
     }
     
   .service_box_1 {
    width: -webkit-fill-available;
    height: 420px;
    margin:  10px 0px;
  }


  .service_box_2 {
    width: -webkit-fill-available;
    height: 420px;
    margin:  10px 0px;
  }


  .service_box_3 {
    width: -webkit-fill-available;
    height: 420px;
    margin:  10px 0px;
  }


  .service_box_4 {
    width: -webkit-fill-available;
    height: 420px;
    margin:  10px 0px;
  }
    




  .foot_box_1{
 
    margin-left: 180px;
  }


  .foot_box_2{
 
    margin-left: 180px;
  }


  .foot_box_3{
 
    margin-left: 180px;
  }


  .icons_1 {
    margin-top: 23px;
    margin-left: 10px;
}




}





@media only screen and (max-width: 768px){

  .slider_1{
    padding-top: 0px;
    display: none;
  }
  .slider_txt {

    top: 90px;
    left: 70px;
}



.about h2 {
  font-size: 16px;
  margin: 0px;
  padding:  0px;
}

.about h2:before {
content: "";
position: absolute;
width: 240px;
height: 50px;
border-radius: 0px;
border-bottom: 3px solid #F5BE00;
}

.about_1 h3 {
  font-size: 12px;
  margin: 0px;
  padding: 0px;
  padding-top: 40px;
}


.about_1 p {
font-size: 11px;
margin: 0px;
padding: 4px 0px;
}



 .service_box_1 {
  width: auto;
  height: 580px;
  margin: 10px 0px;
}

.service_box_1 h6 {
  font-size: 26px;
  padding: 5px;
}

.service_box_1 p {
  font-size: 15px;
  text-align: left;
  padding: 2px 5px;
}

.service_box_2 {
  width: auto;
  height: 580px;
  margin: 10px 0px;
}

.service_box_2 h6 {
  font-size: 26px;
  padding: 5px;
}

.service_box_2 p {
  font-size: 15px;
  text-align: left;
  padding: 2px 5px;
}

.service_box_3 {
  width: auto;
  height: 580px;
  margin: 10px 0px;
}

.service_box_3 h6 {
  font-size: 26px;
  padding: 5px;
}

.service_box_3 p {
  font-size: 15px;
  text-align: left;
  padding: 2px 5px;
}

.service_box_4 {
  width: auto;
  height: 580px;
  margin: 10px 0px;
}

.service_box_4 h6 {
  font-size: 26px;
  padding: 5px;
}

.service_box_4 p {
  font-size: 15px;
  text-align: left;
  padding: 2px 5px;
}





.build_1 {
  width: 350px;
  height: 500px;
}


.build_2 {
width: 350px;
height: 500px;
}


.build_3 {
width: 350px;
height: 500px;
}

.carousel_text h3 {
padding-left: 11px;
}

.carousel_text h4 {
padding-left: 11px;

}

.carousel_text p {
padding-left: 11px;

}

.carousel_txt_1 h5 {

padding-left: 15px;
}


.post_img{
width: -webkit-fill-available;

}

  .btn_2 {
    margin-left: 200px;
}

.foot_box_1{

  margin-left: 120px;
}
.foot_box_2{

  margin-left: 120px;
}
.foot_box_3{

  margin-left: 120px;
}

}



@media only screen and (max-width: 600px){


  .slider_txt{
    color: #000000;
    font-family: roboto serif;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 1px;
    padding-top: 20px;
    text-transform: uppercase;
    position: absolute;
    top: 80px;
    left: 55px;
  }
  
  
  .slider_ext{
    color: #ff0000;
    font-family: roboto serif;
    font-weight: 700;
    font-size: 26px;
    padding-top: 20px;
    padding-bottom: 40px;
  }


    .about h2:before {
        content: "";
        position: absolute;
        width: 406px;
        height: 50px;
        border-radius: 0px;
        border-bottom: 3px solid #F5BE00;
    }




  .service_box_1 {
    width: auto;
    height: 550px;
    margin: 10px 0px;
  }
  
  .service_box_1 h6 {
    font-size: 20px;
    padding: 2px;
  }
  
  .service_box_1 p {
    font-size: 15px;
    text-align: left;
    padding: 2px 5px;
  }
  
  .service_box_2 {
    width: auto;
    height: 550px;
    margin: 10px 0px;
  }
  
  .service_box_2 h6 {
    font-size: 20px;
    padding: 2px;
  }
  
  .service_box_2 p {
    font-size: 15px;
    text-align: left;
    padding: 2px 5px;
  }
  
  .service_box_3 {
    width: auto;
    height: 550px;
    margin: 10px 0px;
  }
  
  .service_box_3 h6 {
    font-size: 20px;
    padding: 2px;
  }
  
  .service_box_3 p {
    font-size: 15px;
    text-align: left;
    padding: 2px 5px;
  }
  
  .service_box_4 {
    width: auto;
    height: 550px;
    margin: 10px 0px;
  }
  
  .service_box_4 h6 {
    font-size: 20px;
    padding: 2px;
  }
  
  .service_box_4 p {
    font-size: 15px;
    text-align: left;
    padding: 2px 5px;
  }
  

  .btn_2 {
    margin-left: 150px;
}


.foot_box_1{

  margin-left: 100px;
}


.foot_box_2{

  margin-left: 100px;
}


.foot_box_3{

  margin-left: 100px;
}


}
@media only screen and (max-width: 430px){

  .slider_txt {
    color: #000000;
    font-family: roboto serif;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 1px;
    padding-top: 20px;
    text-transform: uppercase;
    position: absolute;
    top: 40px;
    left: 55px;
}

  .about h2:before {
    content: "";
    position: absolute;
    width: 222px;
    height: 50px;
    border-radius: 0px;
    border-bottom: 3px solid #F5BE00;
}

}

@media only screen and (max-width: 400px){


  .slider_txt{
    color: #000000;
    font-family: roboto serif;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 1px;
    padding-top: 20px;
    text-transform: uppercase;
    position: absolute;
    top: 20px;
    left: 55px;
  }
  
  
  .slider_ext{
    color: #ff0000;
    font-family: roboto serif;
    font-weight: 700;
    font-size: 26px;
    padding-top: 20px;
    padding-bottom: 40px;
  }



  .about h2 {
    font-size: 12px;
    margin: 0px;
    padding:  0px;
}

.about h2:before {
  content: "";
  position: absolute;
  width: 200px;
  height: 50px;
  border-radius: 0px;
  border-bottom: 3px solid #F5BE00;
}

  .about_1 h3 {
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    padding-top: 40px;
}


.about_1 p {
  font-size: 11px;
  margin: 0px;
  padding: 4px 0px;
}

.service h2 {
  color: #000000;
  font-family: roboto serif;
  font-weight: 700;
  font-size: 33px;
  letter-spacing: 1px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
}

.service_box_1 {
  width: auto;
  height: 700px;
  margin: 10px 0px;
}

.service_box_2 {
  width: auto;
  height: 700px;
  margin: 10px 0px;
}

.service_box_3 {
  width: auto;
  height: 700px;
  margin: 10px 0px;
}

.service_box_4 {
  width: auto;
  height: 700px;
  margin: 10px 0px;
}

.build_1 {
  width: 100%;
  height: 500px;
}

.build_2 {
  width: 100%;
  height: 500px;
}

.build_3 {
  width: 100%;
  height: 500px;
}


.btn_2 {
    margin-left: 50px !important;
}


.f_img{

    width:120px !important;
  }



.foot_box_1{

  margin-left: 90px;
}


.foot_box_2{

  margin-left: 90px;
}


.foot_box_3{
  margin-left: 90px;
}


}



@media only screen and (max-width: 300px){

  .foot_box_1{
  
    margin-left: 20px !important;
  }


  .foot_box_2{
  
    margin-left: 20px !important;
  }


  .foot_box_3{
  
    margin-left: 20px !important;
  }


  }

  @media only screen and (max-width: 3000px){

    #carouselExample{
      display: none;
    
    }
    /*   
      .extra_slider_box_1 img{
        display: none;
      
      } */
     
      
        }
    
    @media only screen and (max-width: 768px){
    
    
      #carouselExample{
        display: initial;
      
      }
    
    .extra_slider{
      padding: 5px 0px;
      background-color: #6D89B1;
    
    }
    
    /* .extra_slider_box_1 img{
      width: -webkit-fill-available;
      height: -webkit-fill-available;
      display: initial;
    
    } */
    
    
      }
    
    
    



/* ---- responsive code end ----  */
